@model WebStore.DomainNew.Models.Product.CatalogViewModel

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutWithSideBar.cshtml";
}

@section top{
    <section id="advertisement">
        <div class="container">
            <img src="~/template/images/shop/topBanner.jpg" alt="" />
        </div>
    </section>
}

@*@await Html.PartialAsync("Partial/_FeaturesShop")*@

@await Html.PartialAsync("Partial/_ProductItems", Model.Products)
<ul class="pagination">
    <li class="active"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">&raquo;</a></li>
</ul>
